@font-face {
  font-family: 'regular';
  src: url("../fonts/mm-font-regular-webfont.eot");
  src: url("../fonts/mm-font-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mm-font-regular-webfont.woff2") format("woff2"), url("../fonts/mm-font-regular-webfont.woff") format("woff"), url("../fonts/mm-font-regular-webfont.ttf") format("truetype"), url("../fonts/mm-font-regular-webfont.svg#mm-font-regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal
}
/**
 * @file       screen.scss
 *
 * @project    Media Markt PT - BackOffice
 * @version    1.0
 * @author     Joan Galtés
 * @copyright  2015
 * @cssdoc     version 1.0
 */

/* @START   Commons */
/********************************************************************************/

body, html {
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: transparent !important;
	background-color: #090d00;
	font-family: 'regular';
}
.main-header .logo,
.logo {
	background-color: #fff !important;
}

.text-light-success {
	color: #37CE39;
}

/* @END   	 Commons */
/********************************************************************************/
/* @START   Login/register pages */

body.login-page{
	overflow-y: hidden;
}
#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: transparent url('/img/bg-home.jpg') no-repeat top left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}


.login-box, .register-box {
	width: 420px;
	margin: 10% auto;
	background-color: rgba(255, 255, 255, 0.25) !important;
	background: white;
	z-index: 1;
	position: relative;
	box-shadow: 0px 2px 24px #002B1C;
	border-radius: 12px;
	padding: 15px;
}

.login-logo img {
	max-width: 360px;
	width: 200px;
	margin: 0 auto;
	display: block;
	/*margin-top: 30px;*/
}

.login-box-body, .register-box-body {
	background: transparent !important;
	background-color: rgba(255, 255, 255, 0.25) !important;
	color: #fff !important;
	border-radius: 6px;
}

.register-page .login-box-body {
  box-shadow: 0px 2px 24px #002B1C;
}

.link {
	color: #fff;
	line-height: 34px;
	display: block;
}

.link:hover {
	color: #e8e8e8;
}

/* @END   	 Login/register pages */
/********************************************************************************/
/* @START   Error 403 page */

.error-403-body {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-top: 0;
  color: #fff;
  border-radius: 6px;
  margin-top: 40px;
  position: relative;
}

.error-403-body .fa {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -30px;
  z-index: 1;
}

.error-403-body h3 {
  margin-top: 60px;
}

.error-403-body a.btn {
  width: 140px;
  margin-top: 30px;
}


/* @END   	 Error 403 page */
/********************************************************************************/
/* @START   Add Product form */

.form-group h3 {
	margin: 0;
}

.form-block {
	padding: 30px 0;
	margin: 15px 0;
	background-color: rgba(255, 255, 255, 0.65);
	border: 1px solid #D2D6DC;
	border-bottom: 2px solid #D2D6DC;
	border-left: 4px solid #00A65A;
	border-radius: 3px;
	display: inline-block;
	width: 100%;
	float: none;
	clear: both;
}

.sub-group {
	margin-top: 20px;
}

/* @END   	 Add Product form */
/********************************************************************************/
/* @START   Home */

.grid-view {
  position: relative;
  margin: 15px 0px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #D2D6DE;
  border-bottom: 2px solid #D2D6DE;
  border-radius: 4px;
  border-left: 4px solid #d51900;
}

.grid-view .fa {
  position: relative;
  margin: 15px 0;
  border: 1px solid #D2D6DE;
  padding: 30px;
  border-radius: 50%;
  border-bottom: 3px solid #D2D6DE;
  min-width: 160px;
  min-height: 160px;
  line-height: 80px;
}

.grid-view .btn {
	max-width: 200px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* @END   	Home */
/********************************************************************************/
/* @START   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* @END   	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/********************************************************************************/
/* @START   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* @END   	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/********************************************************************************/
/* @START   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* @END   	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/********************************************************************************/
/* @START   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* @END   	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/********************************************************************************/
/* @START   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.register-title, .messages-register{
	text-shadow: 2px 2px 2px rgba(0,0,0, 1);
}


body.login-page	.form-control-feedback{top:12px;}