                
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">{{mensajes.length}}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Tienes {{mensajes.length}} mensajes</li>
                  <li>
                    
                    <ul class="menu">

                      <li ng-repeat="mensaje in mensajes">
                        <a href="">
                          <div class="pull-left">
                            
                            <img ng-src="{{mensaje.img}}" class="img-circle" alt="User Image">
                          </div>
                          
                          <h4>
                            {{mensaje.nombre}}
                            <small><i class="fa fa-clock-o"></i> {{mensaje.fecha}}</small>
                          </h4>
                          
                          <p>{{mensaje.mensaje | mensajecorto}}</p>
                        </a>
                      </li>

                    </ul>
                  </li>
                  <li class="footer"><a href="">Todos los mensajes</a></li>
                </ul>