

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="dist/img/user.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{usuario.nombre}}</p>
              <!-- Status -->
              <!-- <a href=""><i class="fa fa-circle text-success"></i> Online</a> -->
              <a href=""><i class="fa fa-circle text-danger"></i> Offline</a>
            </div>
          </div>

          <!-- search form (Optional) -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Buscar...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->

          <!-- Sidebar Menu -->
         <ul class="sidebar-menu">
            <li><a href="#/users/"><i class="fa fa-sort-amount-asc"></i><span>Usuarios registrados</span></a></li>
            <li><a href="#/arbol/"><i class="fa fa-sort-amount-asc"></i><span>Árbol</span></a></li>
            <li><a href="#/proximos/"><i class="fa fa-sort-amount-asc"></i><span>Próximos partidos</span></a></li>
            <li ng-class="mClasificacion"><a href="#/clasificacion/"><i class="fa fa-sort-amount-asc"></i> <span>Usuarios inscritos</span></a></li>
           
         </ul>
          <ul class="sidebar-menu">
         <li class="header bg-red"><i class="fa fa-sort-amount-asc"></i> Clasificaciones</li>

            <li ng-class="mClasificacion"><a href="#/clasificacion/"><i class="fa fa-sort-amount-asc"></i> <span>Clasif. General</span></a></li>
   
            <li ng-class="mClasificacionA"><a href="#/clasificacion/A"><i class="fa fa-sort-amount-asc"></i> <span>Grupo A</span></a></li>

            <li ng-class="mClasificacionB"><a href="#/clasificacion/B"><i class="fa fa-sort-amount-asc"></i> <span>Grupo B</span></a></li>

            <li ng-class="mClasificacionC"><a href="#/clasificacion/C"><i class="fa fa-sort-amount-asc"></i> <span>Grupo C</span></a></li>

            <li ng-class="mClasificacionD"><a href="#/clasificacion/D"><i class="fa fa-sort-amount-asc"></i> <span>Grupo D</span></a></li>

            <li class="header bg-red"><i class="fa fa-users"></i> Fase de Grupos</li>

            <li ng-class="resultadoA"><a href="#/resultados/GrupoA"><i class="fa fa-bookmark-o"></i> <span>Resultados Grupo A</span></a></li>

            <li ng-class="resultadoB"><a href="#/resultados/GrupoB"><i class="fa fa-bookmark-o"></i><span>Resultados Grupo B</span></a></li>
            <li ng-class="resultadoC"><a href="#/resultados/GrupoC"><i class="fa fa-bookmark-o"></i><span>Resultados Grupo C</span></a></li>
            <li ng-class="resultadoD"><a href="#/resultados/GrupoD"><i class="fa fa-bookmark-o"></i><span>Resultados Grupo D</span></a></li>  

            <li class="header bg-red"><i class="fa fa-users"></i><span> Fases eliminatorias</span></li>

            <li ng-class="resultadoDieciseisavos">
                <a href=""><i class="fa fa-bookmark-o"></i><span>Resultados Dieciseisavos</span></a>
            </li>
            <li ng-class="resultadoOcatvos">
                <a href=""><i class="fa fa-bookmark-o"></i><span>Resultados Ocatvos</span></a>
            </li>
            <li ng-class="resultadoCuartos">
                <a href=""><i class="fa fa-bookmark-o"></i><span>Resultados Cuartos</span></a>
            </li>
            <li ng-class="resultadoSemifinales">
                <a href=""><i class="fa fa-bookmark-o"></i><span>Resultados Semifinales</span></a>
            </li>
            <li ng-class="resultadoFinal">
                <a href=""><i class="fa fa-bookmark-o"></i><span>Resultado Final</span></a>
            </li>           

            <li class="header bg-red">3r y 4º puesto</li>
            
            <li ng-class="resultadoIdaTercer">
                <a href="#/resultados/tercer-y-cuarto"><i class="fa fa-bookmark-o"></i><span>3r y 4º lugar</span></a>
            </li>

          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      