                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">{{notificaciones.length}}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">Tienes {{notificaciones.length}} notificacion(es)</li>
                  <li>
                    
                    <ul class="menu">
                      
                      <li ng-repeat="notificacion in notificaciones">
                        <a href="{{notificacion.icono}}">
                          <i class="fa {{notificacion.icono}} text-info"></i>
                          {{notificacion.notificacion}}
                        </a>
                      </li>

                    </ul>
                  </li>
                  <li class="footer"><a href="">Ver todas las notificaciones</a></li>
                </ul>