<script type="text/javascript" src="angular/arbol.js"></script>
<link rel="stylesheet" href="dist/css/arbol.css">
<ol class="breadcrumb">
   <li><a href="#"><i class="fa fa-sort-amount-asc"></i> Próximos Partidos</a></li>
   <li class="active">Partidos para la semana del 1 al 5 de Abril del 2016 </li>
</ol>
<!-- {{teams | json}} -->
<div class="row loader">
   <div class="col-xs-12"></div>
</div>
<div class="row hidden">
   <div class="col-xs-12 arbol">
      <div class="brackets_container">
         <table>
            <thead>
               <tr>
                  <th class="text-center"> <span>Dieciseisavos</span> </th>
                  <th class="text-center"> <span>Cuartos de Final</span> </th>
                  <th class="text-center"> <span>Semi final</span> </th>
                  <th class="text-center"> <span>Final</span> </th>
                  <th class="text-center"> <span>Semi final</span> </th>
                  <th class="text-center"> <span>Cuartos de final</span> </th>
                  <th class="text-center"> <span>Dieciseisavos</span> </th>
               </tr>
            </thead>
            <tbody>
               <tr id="playground">
                  <td class="round_column r_16 ">
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top winner" data-team-id="9"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Brazil.png" alt="Brazil"><span>Brazil</span></a><strong>4</strong></span>
                           </div>
                           <div class="m_segment m_botm loser" data-team-id="10"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Canada.png" alt="Canada"><span>Canada</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_dtls"><span>1 de Abril 2016</span></div>
                        </div>
                     </div>
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top loser" data-team-id="11"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Germany.png" alt="Germany"><span>Germany</span></a><strong>0</strong></span>
                           </div>
                           <div class="m_segment m_botm winner" data-team-id="12"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Italy.png" alt="Italy"><span>Italy</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_dtls"><span>2 de Abril 2016</span></div>
                        </div>
                     </div>
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top loser" data-team-id="13"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Hungary.png" alt="Hungary"><span>Hungary</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_segment m_botm winner" data-team-id="14"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Ghana.png" alt="Ghana"><span>Ghana</span></a><strong>5</strong></span>
                           </div>
                           <div class="m_dtls"><span>3 de Abril 2016</span></div>
                        </div>
                     </div>
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top winner" data-team-id="16"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/England.png" alt="England"><span>England</span></a><strong>0</strong></span>
                           </div>
                           <div class="m_segment m_botm loser" data-team-id="15"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Sweden.png" alt="Sweden"><span>Sweden</span></a><strong>0</strong></span>
                           </div>
                           <div class="m_dtls"><span>4 de Abril 2016</span></div>
                        </div>
                     </div>
                  </td>
                  <td class="round_column r_8">
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top winner" data-team-id="9"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Brazil.png" alt="Brazil"><span>Brazil</span></a><strong>4</strong></span>
                           </div>
                           <div class="m_segment m_botm loser" data-team-id="12"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Italy.png" alt="Italy"><span>Italy</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_dtls"><span>5 de Abril 2016</span></div>
                        </div>
                     </div>
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top loser" data-team-id="14"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Ghana.png" alt="Ghana"><span>Ghana</span></a><strong>1</strong></span>
                           </div>
                           <div class="m_segment m_botm winner" data-team-id="16"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/England.png" alt="England"><span>England</span></a><strong>3</strong></span>
                           </div>
                           <div class="m_dtls"><span>6 de Abril 2016</span></div>
                        </div>
                     </div>
                  </td>
                  <td class="round_column r_4">
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top winner" data-team-id="9"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Brazil.png" alt="Brazil"><span>Brazil</span></a><strong>4</strong></span>
                           </div>
                           <div class="m_segment m_botm loser" data-team-id="16"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/England.png" alt="England"><span>England</span></a><strong>3</strong></span>
                           </div>
                           <div class="m_dtls"><span>7 de Abril 2016</span></div>
                        </div>
                     </div>
                  </td>
                  <td class="round_column r_2 final">
                     <div class="winner_team"><span>WINNER<a href="#">
                        <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Brazil.png" alt="Brazil"><span>Brazil</span></a></span>
                     </div>
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top winner first" data-team-id="9"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Brazil.png" alt="Brazil"><span>Brazil</span></a><strong>4</strong></span>
                           </div>
                           <div class="m_segment m_botm winner second" data-team-id="2"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Algeria.png" alt="Algeria"><span>Algeria</span></a><strong>3</strong></span>
                           </div>
                           <div class="m_dtls"><span>8 de Abril 2016</span></div>
                        </div>
                     </div>
                     <div class="mtch_container third_position">
                        <div class="match_unit">
                           <div class="m_segment m_botm winner third" data-team-id="16"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/England.png" alt="England"><span>England</span></a><strong>3</strong></span>
                           </div>
                           <div class="m_segment m_top losers fourth" data-team-id="8"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Saudi-Arabia.png" alt="Saudi-Arabia"><span>Saudi</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_dtls"><span>9 de Abril 2016</span></div>
                        </div>
                     </div>
                  </td>
                  <td class="round_column r_4 reversed">
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top winner" data-team-id="2"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Algeria.png" alt="Algeria"><span>Algeria</span></a><strong>3</strong></span>
                           </div>
                           <div class="m_segment m_botm loser" data-team-id="8"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Saudi-Arabia.png" alt="Saudi-Arabia"><span>Saudi</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_dtls"><span>10 de Abril 2016</span></div>
                        </div>
                     </div>
                  </td>
                  <td class="round_column r_8 reversed">
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top loser" data-team-id="3"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Egypt.png" alt="Egypt"><span>Egypt</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_segment m_botm winner" data-team-id="2"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Algeria.png" alt="Algeria"><span>Algeria</span></a><strong>3</strong></span>
                           </div>
                           <div class="m_dtls"><span>11 de Abril 2016</span></div>
                        </div>
                     </div>
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top loser" data-team-id="6"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Morocco.png" alt="Morocco"><span>Morocco</span></a><strong>1</strong></span>
                           </div>
                           <div class="m_segment m_botm winner" data-team-id="8"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Saudi-Arabia.png" alt="Saudi-Arabia"><span>Saudi</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_dtls"><span>12 de Abril 2016</span></div>
                        </div>
                     </div>
                  </td>
                  <td class="round_column r_16 reversed">
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top winner" data-team-id="3"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Egypt.png" alt="Egypt"><span>Egypt</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_segment m_botm loser" data-team-id="4"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Angola.png" alt="Angola"><span>Angola</span></a><strong>0</strong></span>
                           </div>
                           <div class="m_dtls"><span>13 de Abril 2016</span></div>
                        </div>
                     </div>
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top loser" data-team-id="1"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Libya.png" alt="Libya"><span>Libya</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_segment m_botm winner" data-team-id="2"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Algeria.png" alt="Algeria"><span>Algeria</span></a><strong>4</strong></span>
                           </div>
                           <div class="m_dtls"><span>14 de Abril 2016</span></div>
                        </div>
                     </div>
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top loser" data-team-id="5"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Sudan.png" alt="Sudan"><span>Sudan</span></a><strong>0</strong></span>
                           </div>
                           <div class="m_segment m_botm winner" data-team-id="6"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Morocco.png" alt="Morocco"><span>Morocco</span></a><strong>1</strong></span>
                           </div>
                           <div class="m_dtls"><span>15 de Abril 2016</span></div>
                        </div>
                     </div>
                     <div class="mtch_container">
                        <div class="match_unit">
                           <div class="m_segment m_top loser" data-team-id="7"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/France.png" alt="France"><span>France</span></a><strong>1</strong></span>
                           </div>
                           <div class="m_segment m_botm winner" data-team-id="8"><span><a href="#">
                              <img src="https://0.s3.envato.com/files/140748403/imgs/flags/Saudi-Arabia.png" alt="Saudi-Arabia"><span>Saudi</span></a><strong>2</strong></span>
                           </div>
                           <div class="m_dtls"><span>16 de Abril 2016</span></div>
                        </div>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>

