<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-sort-amount-asc"></i> Clasificaciones</a></li>
  <li class="active">Clasificación general</li>
</ol>
<!-- {{teams | json}} -->

<div class="row loader">
  <div class="col-xs-12"></div>
</div>


<div class="row hidden">
  <!--  -->
  <div class="col-md-12">

  <table class="table table-striped">
    <tr>
      <!-- <th>idEquipo</th> -->
      <th>nombreEquipo</th>
      <th class="talign">puntosEquipo</th>
      <th class="talign">Partidos jugados</th>
      <th class="talign">Partidos ganados</th>
      <th class="talign">Partidos perdidos</th>
      <th class="talign">Goles a favor</th>
      <th class="talign">Goles en contra</th>
      <th class="talign">Grupo Liga</th>
    </tr>
    <tr ng-repeat="alumno in alumnos">
    <!-- <tr ng-repeat="alumno in alumnos | limitTo:posicion | limitTo:-5"> -->
      <!-- <td>{{alumno.idEquipo}}</td> -->
      <td>{{alumno.nombreEquipo}}</td>
      <td class="talign"><span class="pull-right badge bg-black">{{alumno.puntosEquipo}}</span></td>
      <td class="talign">{{alumno.partidosJugados}}</td>
      <td class="talign"><span class="pull-right badge bg-green">{{alumno.partidosGanados}}</span></td>
      <td class="talign"><span class="pull-right badge bg-red">{{alumno.partidosPerdidos}}</span></td>
      <td class="talign">{{alumno.golesFavor}}</td>
      <td class="talign">{{alumno.golesContra}}</td>
      <td class="talign">{{alumno.grupoLiga}}</td>
    </tr>
</table>
  <!--  -->
  <!--  -->
  </div>
</div>