<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-sort-amount-asc"></i> Clasificaciones</a></li>
  <li class="active">Clasificación Grupo {{grupo}}</li>
</ol>
<!-- {{teams | json}} -->

<div class="row loader">
  <div class="col-xs-12"></div>
</div>


<div class="row hidden">
  <!--  -->
  
  <!--  -->
  <!--  -->
  <div class="col-md-12" ng-repeat="alumno in alumnos">
    <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                  <div class="widget-user-image">
                    <img ng-src="{{alumno.imgEquipo}}" class="img-circle" alt="{{alumno.nombreEquipo}}">
                  </div><!-- /.widget-user-image -->
                  <h3 class="widget-user-username">{{ alumno.nombre1 }} y {{ alumno.nombre2 }}</h3>
                  <h5 class="widget-user-desc">{{alumno.nombreEquipo}}</h5>
                </div>
                <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                <li><a>Puntos equipo <span class="pull-right badge bg-black">{{alumno.puntosEquipo}}</span></a></li>
                <li><a>Partidos jugados <span class="pull-right badge bg-black">{{alumno.partidosJugados}}</span></a></li>
                <li><a>Partidos ganados <span class="pull-right badge bg-green">{{alumno.partidosGanados}}</span></a></li>
                <li><a>Partidos perdidos <span class="pull-right badge bg-red">{{alumno.partidosPerdidos}}</span></a></li>
                <li><a>Goles a favor <span class="pull-right badge bg-green">{{alumno.golesFavor}}</span></a></li>
                <li><a>Goles en contra <span class="pull-right badge bg-red">{{alumno.golesContra}}</span></a></li>
                <li><a>Grupo de la Liga <span class="pull-right badge bg-black">{{alumno.grupoLiga}}</span></a></li>
                  </ul>
                </div>
              </div>
  </div>
</div>