<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-sort-amount-asc"></i> Próximos Partidos</a></li>
  <li class="active">Partidos para la semana del 1 al 5 de Abril del 2016</li>
</ol>

<div class="row loader">
  <div class="col-xs-12"></div>
</div>


<div class="row proximos hidden">
 <!--<div class="col-xs-12">{{users | json}}</div>-->
  <div class="col-md-12">
                  <!-- USERS LIST -->
                  <div class="box box-danger">
                    <div class="box-header with-border">
                      <h3 class="box-title">Usuarios registrados</h3>
                      <div class="box-tools pull-right">
                        <span class="registeredUsers label label-danger"></span>

                      </div>
                    </div><!-- /.box-header -->
                    <div style="display: block;" class="box-body no-padding">
                      <ul class="users-list clearfix">
                        <li ng-repeat="user in users">
                          <img ng-src="{{user.imgFoto}}" alt="{{user.nombre}}">
                        </li>
                      </ul><!-- /.users-list -->
                    </div><!-- /.box-body -->

                  </div><!--/.box -->
                </div>

</div>

