<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-sort-amount-asc"></i> Próximos Partidos</a></li>
  <li class="active">Partidos para la semana del 1 al 5 de Abril del 2016 </li>
</ol>
<!-- {{teams | json}} -->

<div class="row loader">
  <div class="col-xs-12"></div>
</div>


<div class="row proximos hidden">
<div class="col-xs-12">{{resultados | json}}</div>


<div class="col-md-4" ng-repeat="resultado in resultados">
              
              <div class="box box-widget widget-user">
                
                <div class="widget-user-header bg-aqua-active" style="background:transparent url('../dist/img/versus.png') no-repeat center center;background-size:25%;">
                <!-- <h3 class="text-center">{{resultado.tipoPartido}}</h3>                   -->
                </div>
                <div class="widget-user-image" style="left: 12.5%;margin-left:0;">
                  <img class="img-circle" src="../dist/img/fcbarcelona.png" alt="User Avatar">
                </div>
                <div style="left: initial; right: 12.5%;" class="widget-user-image">
                  <img class="img-circle" src="../dist/img/sevilla.png" alt="User Avatar">
                </div>
                <div class="box-footer">
                  <div class="row">
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        
                        <span class="description-text"><strong>{{resultado.team1}}</strong></span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="description-block">
                        
                        
                        <span class="description-text">
                  <!-- <img class="img-circle img-versus" src="../dist/img/versus.png" alt="User Avatar"> -->
{{resultado.tipoPartido}}
                        </span>
                        
                      </div>
                    </div>
                    <div class="col-sm-4 border-left">
                      <div class="description-block">
                        
                        <span class="description-text"><strong>{{resultado.team2}}</strong></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12"></div>

</div>