

<ol class="breadcrumb">
   <li><a href="#"><i class="fa fa-sort-amount-asc"></i> Tercer y cuarta lugar</a></li>
   <li class="active">Resultados</li>
</ol>
<!-- {{teams | json}} -->
<div class="row loader">
   <div class="col-xs-12"></div>
</div>
<div class="row hidden">
<!-- <div class="col-xs-12">{{resultados | json}}</div> -->
<!--  -->
<div class="col-md-6" ng-repeat="resultado in resultados">
   <!-- Widget: user widget style 1 -->
   <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-aqua-active">
         <h3 class="text-center">{{resultado.tipoPartido}}</h3>
      </div>
      <div class="widget-user-image" style="left: 12.5%;margin-left:0;">
         <img class="img-circle" src="../dist/img/fcbarcelona.png" alt="User Avatar">
      </div>
      <div style="left: initial; right: 12.5%;" class="widget-user-image">
         <img class="img-circle" src="../dist/img/sevilla.png" alt="User Avatar">
      </div>
      <div class="box-footer">
         <div class="row">
            <div class="col-sm-4 border-right">
               <div class="description-block">
                  <!-- <h5 class="description-header">12,000</h5> -->
                  <span class="description-text"><strong>{{resultado.team1}}</strong></span>
               </div>
               <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
               <div class="description-block">
                  <!-- <h5 class="description-header">13,000</h5> -->
                  <span class="pull-left badge bg-green local">{{resultado.golesTeam1}}</span>
                  <span class="description-text"><strong>Versus</strong></span>
                  <span class="pull-right badge bg-green visitante">{{resultado.golesTeam2}}</span>
               </div>
               <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
               <div class="description-block">
                  <!-- <h5 class="description-header">35</h5> -->
                  <span class="description-text"><strong>{{resultado.team2}}</strong></span>
               </div>
               <!-- /.description-block -->
            </div>
            <!-- /.col -->
         </div>
         <!-- /.row -->
      </div>
   </div>
   <!-- /.widget-user -->
</div>
<div class="col-md-12"></div>
<!--  -->
<div class="col-md-4 hidden totales">
   <p ng-repeat="resultado in resultados">
      <span data-local="{{resultado.team1}}" data-img="../dist/img/fcbarcelona.png" class="totallocal t1-{{resultado.tipoPartido}}">{{resultado.golesTeam1}}</span>
      <span data-visitante="{{resultado.team2}}" data-img="../dist/img/sevilla.png" class="totalvisit t2-{{resultado.tipoPartido}}">{{resultado.golesTeam2}}</span>
   </p>
</div>
<div class="col-md-6 finalistas">
   <!-- Widget: user widget style 1 -->
   <div class="box box-widget widget-user-2">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-yellow">
         <div class="widget-user-image">
            <img class="img-circle ganador" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
         </div>
         <!-- /.widget-user-image -->
         <h3 class="widget-user-username">3r puesto</h3>
         <h5 class="widget-user-desc tercer"></h5>
      </div>
      <div class="box-footer no-padding">
      </div>
      <!-- /.widget-user -->
   </div>
</div>
<div class="col-md-6 finalistas">
   <!-- Widget: user widget style 1 -->
   <div class="box box-widget widget-user-2">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-yellow">
         <div class="widget-user-image">
            <img class="img-circle perdedor" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
         </div>
         <!-- /.widget-user-image -->
         <h3 class="widget-user-username">4º puesto</h3>
         <h5 class="widget-user-desc cuarto"></h5>
      </div>
      <div class="box-footer no-padding">
      </div>
      <!-- /.widget-user -->
   </div>
</div>

</div>
